<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Get Trivia of What Happen Today" />
    <meta name="author" content="github-ragil" />

    <title>Today Trivia</title>

    <!-- Bootstrap core CSS -->
    <link
      href="/static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/static/css/the-big-picture.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Page Content -->
    <section>
      <div class="container">
        <div class="opaque">
          <div class="row">
            <div class="col-12">
              <h1 class="mt-5">{{.title}} - In Environment QA</h1>
              <p>{{.trivia}}</p>
              <button
                type="button"
                onClick="window.location.href=window.location.href"
                class="btn btn-primary-outline"
              >
                More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
